<h1>
      <%= @the_user.username %> 
    </h1>

<dl>
  <dt>Private</dt>
  
  <dd><%=@the_user.private%></dd>

  <dt>Followers</dt>
  <dd>   ?? </dd>
    
<div>
      

            <button>
              Follow
            </button>
          </form>
    </div>

  </dd>

  <dt>Following</dt>
  <dd>13</dd>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%@the_user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%@the_user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%@the_user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%@the_user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>
